<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
	<meta charset="utf-8"/>
	<th:block layout:fragment="customStyle">
		<title th:text="${product.getName()}"></title>
		<!--El Custom Styles le el 7eta deh-->
		<!-- <link rel="stylesheet" th:href="@{/css/home.css}"> -->
	</th:block>
</head>

<!-- Body !-->
<body layout:fragment="content">
<!--Content Goes Here!-->
<div class="col-lg-12">
	<div class="col-lg-4">
		<br/>
		<br/>
		<ul class="list-group">
			<li class="list-group-item text-muted">Product's Info</li>
			<li class="list-group-item text-left"><span class="pull-right"><strong>Name: </strong></span><span th:text="${product.name}"></span></li>
			<li class="list-group-item text-left"><span class="pull-right"><strong>Brand: </strong></span><span th:text="${product.brand.name}"></span></li>
			<li class="list-group-item text-left"><span class="pull-right"><strong>Price: </strong></span><span th:text="${product.averagePrice}"></span></li>
			<li class="list-group-item text-left"><span class="pull-right"><strong>Date Added: </strong></span><span th:text="${product.dateTime}"></span></li>
		</ul>


	</div>
</div>
<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">

</th:block>
</body>
</html>
