<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="utf-8"/>
    <th:block layout:fragment="customStyle">
        <!--El Custom Styles le el 7eta deh-->
        <!-- <link rel="stylesheet" th:href="@{/css/home.css}"> -->
    </th:block>
</head>

<!-- Body !-->
<body layout:fragment="content">
<!--Content Goes Here!-->
<div class="col-lg-12">
    <div class="col-lg-4">
        <br/>
        <br/>
        <h1>Add Product</h1>
        <hr/>
        <form method="post" autocomplete="on" th:object="${addProductForm}" action="/admin/addproduct">
            <fieldset>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="form-group">
                    <label class="col-form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Name"
                           th:field="*{name}" th:errorclass="is-invalid" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Unspecified Error</div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Brand</label>
                    <input type="text" class="form-control" placeholder="Brand"
                           th:field="*{brand}" th:errorclass="is-invalid" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Unspecified Error</div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Average Price</label>
                    <input type="text" class="form-control" placeholder="Average Price"
                           th:field="*{averagePrice}" th:errorclass="is-invalid"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('averagePrice')}" th:errors="*{averagePrice}">Unspecified Error</div>
                </div>


                <br/>
                <button type="submit" class="btn btn-primary">Add</button>
            </fieldset>
        </form>
    </div>
</div>
<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">

</th:block>
</body>
</html>