<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="utf-8"/>
    <title>Search</title>
    <th:block layout:fragment="customStyle">
        <!--El Custom Styles le el 7eta deh-->
        <link rel="stylesheet" th:href="@{/css/home.css}"/>
        <link rel="stylesheet" th:href="@{/css/containers.css}"/>
        <link rel="stylesheet" th:href="@{/css/autocomplete.css}"/>
    </th:block>
</head>
<!--/*@thymesVar id="currentUser" type="com.piper.valley.auth.CurrentUser"*/-->
<body layout:fragment="content">

<div class="container-full">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <h3>Search for Products, Stores, anything!</h3>
                        <p class="lead"><i class="fas fa-search footer-social"></i> Search for products, stores, brands,
                            companies, and a lot more! </p>
                        <form id="search-form" class="form-inline" role="form" method="get"
                              action="/search">
                            <div class="col-lg-10 container">
                                <div class="input-group" id="remote">
                                    <input type="text" name="q" class="typeahead form-control search-form"
                                           placeholder="Search" value="" autofocus="autofocus"/>
                                    <span class="input-group-btn">
                            <button style="position:  absolute;" type="submit" class="btn btn-primary search-btn"
                                    data-target="#search-form">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/>
</div> <!-- /container full -->


<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">
    <script type="text/javascript" th:src="@{/js/autocomplete.js}"></script>
</th:block>
</body>
</html>