<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="utf-8"/>
    <th:block layout:fragment="customStyle">
        <!--El Custom Styles le el 7eta deh-->
        <!-- <link rel="stylesheet" th:href="@{/css/home.css}"> -->
    </th:block>
</head>

<!-- Body !-->
<body layout:fragment="content">
<!--Content Goes Here!-->

<h1 th:text=" 'Name: '+ ${name}"></h1>
<h2 th:text=" 'Username: '+ ${username}"></h2>
<h3 th:text=" 'Email: '+ ${email}"></h3>


<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">

</th:block>
</body>
</html>