<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="utf-8"/>
    <th:block layout:fragment="customStyle">
        <!--El Custom Styles le el 7eta deh-->
        <!-- <link rel="stylesheet" th:href="@{/css/home.css}"> -->
    </th:block>
    <title>Shopping Cart</title>
</head>

<!-- Body !-->
<body layout:fragment="content">
<!--Content Goes Here!-->
<div class="container">
    <div class="card">
        <div class="card-header navbar-dark ">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Shopping cart

        </div>
        <div class="card-body">
            <!-- PRODUCT -->
            <div th:each="order : ${orders}">
            <div class="row container-fluid">
                <div class="col-md-2 text-center">
                    <img class="img-responsive img-fluid" src="http://placehold.it/120x120" alt="preview" />
                </div>
                <div class="text-sm-center text-md-left col-md-7">
                    <h4 class="product-name"><a th:href="@{/store/products/{id}(id = ${order.getStoreProduct().getId()})}"><span th:text="${order.getStoreProduct().getName()}">Product Name</span></a></h4>
                    <p>
                        <span th:text="${#strings.abbreviate(order.storeProduct.description,180)}">Product description</span>
                    </p>
                </div>
                <div class="col-md-3 justify-content-center align-self-center">
                    <div class="col-lg-12">
                        <h6><span class="text-muted">Price:  </span> <i class="fas fa-dollar-sign"></i><strong th:text="${order.storeProduct.price}">n/a </strong><strong><span class="text-muted"> </span></strong></h6>
                        <h6><span class="text-muted">Quantity:  </span> <strong th:text="${order.quantity}"></strong></h6>
                        <h6><span class="text-muted">Total Price:  </span> <i class="fas fa-dollar-sign"></i><strong th:text="${order.storeProduct.price*order.quantity}">n/a </strong><strong><span class="text-muted"> </span></strong></h6>
                    </div>
                </div>
            </div>
            <hr/>
            </div>
            <!-- END PRODUCT -->


        </div>
        <div class="card-footer">
            <h3>Checkout</h3>
            <div class="col-lg-12">
                <hr/>
                <form method="post" action="/user/shoppingcart">
                    <input type="hidden" class="form-control" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="col-lg-12">
                    <h5>Total price: <i class="fas fa-dollar-sign"></i><strong th:text="${total}">n/a</strong></h5>
                    <h6 class="text-muted"><small>Total of <strong th:text="${#lists.size(orders)}"></strong> order. </small></h6>
                    </div>
                    <div class="col-lg-4">
                    <label>Coupon Code <small class="text-muted">(optional)</small></label>
                    <input type="text" class="form-control" placeholder="Coupon Code"/>
                        <button style="margin-top: 8px" type="submit" class="btn btn-success pull-right">Checkout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">

</th:block>
</body>
</html>