<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/default">
<head>
    <meta charset="utf-8"/>
    <title th:text="${user.getName()}"></title>
    <th:block layout:fragment="customStyle">
        <!--El Custom Styles le el 7eta deh-->
        <!-- <link rel="stylesheet" th:href="@{/css/home.css}"> -->
    </th:block>
</head>

<!-- Body !-->
<body layout:fragment="content">

<!--Content Goes Here!-->
<div class="container">
    <div class="col-lg-12">
        <br/>
        <br/>
        <h1><i class="fas fa-fw fa-user"></i> <span th:text="${user.getName()}" ></span></h1>
    </div>
    <hr/>
    <div class="col-lg-12">
        <div class="col-lg-12 text-center">
        <br/>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="${user.getName()}"></h4>
                <hr/>
                <h6> <span class="text-muted">Username: </span> <span th:text="${user.getUsername()}"> </span> </h6>
                <h6> <span class="text-muted">Email: </span> <span th:text="${user.getEmail()}"> </span> </h6>
            </div>
        </div>
        </div>
    </div>
    <br/>
    <div class="row" th:if="${not #lists.isEmpty(stores)}">
        <div class="col-lg-12">
            <hr/>
            <div class="col-sm-12 table-responsive-md">
                <h4><i class="fas fa-check"></i> Stores <span class="text-muted" th:text="${user.username}"></span> manages.</h4>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="items">
                    <tr th:each="store,i : ${stores}">
                        <td class="align-middle" th:text="${i.index+1}">#</td>
                        <td class="align-middle"><a th:href="@{/store/view/{id}(id = ${store.id})}"
                                                    th:text="${store.name}">-</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div sec:authorize="hasRole('ADMIN')" class="row">
        <div class="col-lg-12">
            <br/>
            <h4> <i class="fas fa-history"></i> <span class="text-muted" th:text="${user.username}"></span> orders' History <small> <span class="badge badge-pill badge-info">Admin Only</span> </small></h4>
            <div class="col-sm-12 table-responsive-md" th:if="${not #lists.isEmpty(orders)}">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Processed Date</th>
                    </tr>
                    </thead>
                    <tbody id="items">
                    <tr th:each="order,i : ${orders}">
                        <td class="align-middle" th:text="${i.index+1}">#</td>
                        <td class="align-middle"><a th:href="@{/store/products/{id}(id = ${order.getStoreProduct().getId()})}"><span th:text="${order.getStoreProduct().getName()}">Product Name</span></a></td>
                        <td class="align-middle" th:text="${order.getStoreProduct().getPrice()}">-</td>
                        <td class="align-middle" th:text="${order.getQuantity()}">-</td>
                        <td class="align-middle" th:text="${#dates.format(order.getProcessedDate(), 'dd-MMM-yyyy HH:mm')}">-</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 table-responsive-md" th:if="${#lists.isEmpty(orders)}">
                <h6 class="text-muted">you don't have any orders. go shopping! </h6>
            </div>
        </div>
    </div>
</div>

<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">

</th:block>
</body>
</html>
