<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="utf-8"/>
    <th:block layout:fragment="customStyle">
        <!--El Custom Styles le el 7eta deh-->
        <!-- <link rel="stylesheet" th:href="@{/css/home.css}"> -->
    </th:block>
</head>

<!-- Body !-->
<body layout:fragment="content">
<!--Content Goes Here!-->
<div class="col-lg-12">
    <div class="col-lg-8">
        <br/>
        <br/>
        <h1>Add Store</h1>
        <hr/>
        <form method="post" autocomplete="on" th:object="${addStoreForm}" action="/store/add">
            <div class="row">
                <div class="col-lg-6">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Name"
                               th:field="*{name}" th:errorclass="is-invalid"/>
                        <div class="invalid-feedback" th:if="*{#fields.hasErrors('name')}" th:errors="*{name}">
                            Unspecified
                            Error
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input onchange="myToggle(this)" type="checkbox" class="custom-control-input"
                                   th:field="*{physical}"/>
                            <label class="custom-control-label" th:for="${#ids.prev('physical')}">Physical Store
                                ?</label>
                        </div>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('physical')}"
                             th:errors="*{physical}">Unspecified Error
                        </div>
                    </div>

                    <div id="physical-form" th:style="*{physical} ? 'display:block' : 'display:none'">
                        <div class="form-group">
                            <label class="col-form-label">Address</label>
                            <input type="text" th:errorclass="is-invalid" class="form-control" placeholder="Address"
                                   th:field="*{address}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}"
                                 th:errors="*{address}">
                                Unspecified Error
                            </div>
                        </div>
                    </div>

                </div>

                <br/>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary">Apply Store</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">
    <script>
        function myToggle(field) {
            var x = document.getElementById('physical-form');
            if (field.checked === true) {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
    </script>
</th:block>
</body>
</html>