<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="utf-8"/>
    <th:block layout:fragment="customStyle">
        <!--El Custom Styles le el 7eta deh-->
        <!-- <link rel="stylesheet" th:href="@{/css/home.css}"> -->
    </th:block>
</head>

<!-- Body !-->
<body layout:fragment="content">
<!--Content Goes Here!-->
<div class="container">
    <br/>
    <br/>
    <h1>Add Product To Store</h1>
    <hr/>
    <form method="post" autocomplete="on" th:object="${addStoreProductForm}" action="/store/addproduct" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6">
                <br/>
                <br/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="form-group">
                    <label class="col-form-label">Store</label>
                    <select th:field="*{storeId}" th:errorclass="is-invalid" class="form-control custom-select">
                        <option th:each="store : ${stores}" th:value="${store.id}"
                                th:text="${store.name}"></option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('storeId')}" th:errors="*{storeId}">
                        Unspecified Error
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Product</label>
                    <select th:field="*{productId}" th:errorclass="is-invalid" class="form-control custom-select">
                        <option th:each="product : ${products}" th:value="${product.id}"
                                th:text="${product.name}"></option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('productId')}" th:errors="*{productId}">
                        Unspecified Error
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Name</label>
                    <input type="text" th:errorclass="is-invalid" class="form-control" placeholder="Name"
                           th:field="*{name}"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}">Unspecified Error
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Description</label>
                    <input type="text" th:errorclass="is-invalid" class="form-control" placeholder="Description"
                           th:field="*{description}"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}"
                         th:errors="*{description}">Unspecified Error
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Price</label>
                    <input type="text" th:errorclass="is-invalid" class="form-control" placeholder="Price"
                           th:field="*{price}"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}"
                         th:errors="*{price}">Unspecified Error
                    </div>
                </div>

                <br/>

                    <p><input type="file" name="image"/></p>
                     <button type="submit" class="btn btn-primary">Add Product To Store</button>

            </div>
        </div>
    </form>
</div>

<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">

</th:block>
</body>
</html>