<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="utf-8"/>
    <title>Stores' History</title>
    <th:block layout:fragment="customStyle">
    </th:block>
</head>

<!-- Body !-->
<body layout:fragment="content">
<!--Content Goes Here!-->
<div class="container">
    <br/>
    <br/>
    <h2><i class="fas fa-history"></i> Stores' History Log </h2>
    <hr/>
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item" th:each="store,i : ${stores}">
                <a class="nav-link"  data-toggle="tab" th:href="${'#' + store.name}" th:text="${store.name}" th:classappend="${i.index == 0} ? 'active show' : ' '">Store</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <th:block th:each="store,i : ${stores}">
                <div class="tab-pane fade" th:classappend="${i.index == 0} ? 'active show' : ' '" th:id="${store.name}">
                    <br/>
                    <h2>
                        <a th:href="@{/store/view/{id}(id = ${store.getId()})}" th:text="${store.getName()}">-</a>
                    </h2>
                    <div th:if="${#lists.isEmpty(store.history)}">
                        <h3 class="text-muted"> This store has no history. </h3>
                    </div>
                        <div th:if="${not #lists.isEmpty(store.history)}" class="col-sm-12 table-responsive-md">
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">

</th:block>
</body>
</html>