<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
	<meta charset="utf-8"/>
	<th:block layout:fragment="customStyle">
		<title th:text="${product.getProduct().getName()}"></title>
		<!--El Custom Styles le el 7eta deh-->
		<!-- <link rel="stylesheet" th:href="@{/css/home.css}"> -->
	</th:block>
</head>

<!-- Body !-->
<body layout:fragment="content">
<!--Content Goes Here!-->
<div class="col-lg-12">
	<div class="col-lg-4">
		<br/>
		<br/>
		<ul class="list-group">
			<li class="list-group-item text-muted">Product's Info</li>
			<li class="list-group-item text-left"><span class="pull-right"><strong>Name: </strong></span><span th:text="${product.getProduct().getName()}"></span></li>
			<li class="list-group-item text-left"><span class="pull-right"><strong>Brand: </strong></span><span th:text="${product.getProduct().brand.name}"></span></li>
			<li class="list-group-item text-left"><span class="pull-right"><strong>Price: </strong></span><span th:text="${product.getPrice()}"></span></li>
			<div th:if="${physicalproduct!=null}">
				<li class="list-group-item text-left"><span class="pull-right"><strong>Length: </strong></span><span th:text="${physicalproduct.getLength()}"></span></li>
				<li class="list-group-item text-left"><span class="pull-right"><strong>Width: </strong></span><span th:text="${physicalproduct.getWidth()}"></span></li>
				<li class="list-group-item text-left"><span class="pull-right"><strong>Height: </strong></span><span th:text="${physicalproduct.getHeight()}"></span></li>
				<li class="list-group-item text-left"><span class="pull-right"><strong>Weight: </strong></span><span th:text="${physicalproduct.getWeight()}"></span></li>
			</div>
			<li class="list-group-item text-left">
				<span class="pull-right"><a class="btn btn-sm btn-primary" th:href="@{/store/view/{id}(id = ${product.getStore().getId()})}"><i class="fas fa-chevron-circle-left"></i> Visit Store</a></span>
				<span class="pull-left"><a class="btn btn-sm btn-success" th:href="@{/store/product/{id}/buy(id = ${product.id})}"><i class="fas fa-shopping-cart"></i> Buy Product </a></span>
			</li>
		</ul>

	</div>
</div>
<!--El Custom Scripts le el 7eta deh-->
<th:block layout:fragment="customScripts">

</th:block>
</body>
</html>
