<br/>
<footer class="container-fluid text-center bg-lightgray" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
	<hr class="col-lg-8"/>
	<div class="copyrights" style="margin-top:25px;">
		Made with <i id="social-lv" class="fas fa-heart footer-social"></i> in <strong>Cairo</strong>
		<div class="text-center center-block">
			<a href="https://www.facebook.com/sherifabdlnaby"><i id="social-fb" class="fab fa-facebook-square fa-2x footer-social"></i></a>
			<a href="https://twitter.com/sherifabdlnaby"><i id="social-tw" class="fab fa-twitter-square fa-2x footer-social"></i></a>
			<a href="https://www.linkedin.com/in/sherifabdlnaby/"><i id="social-li" class="fab fa-linkedin fa-2x footer-social"></i></a>
			<a href="https://github.com/SherifAbdlNaby"><i id="social-gh" class="fab fa-github-square fa-2x footer-social"></i></a>
			<a href="https://plus.google.com/u/0/100252932378590857637"><i id="social-gp" class="fab fa-google-plus-square fa-2x footer-social"></i></a>
			<a href="mailto:sherifabdlnaby@gmail.com"><i id="social-em" class="fas fa-envelope-square fa-2x footer-social"></i></a>
		</div>
		<br/>
	</div>
</footer>