<nav xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="header">
    <a class="navbar-brand" href="/"> Valley </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--/*@thymesVar id="currentUser" type="com.piper.valley.auth.CurrentUser"*/-->
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">About</a>
            </li>

            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/store/add">
                        <i class="fas fa-plus"></i> Apply Store</a>
                </li>
            </th:block>

            <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"><i class="fas fa-plus"></i> Admin Actions</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/addcompany"><i class="fas fa-plus"> </i> Add Company</a>
                    <a class="dropdown-item" href="/admin/addbrand"><i class="fas fa-plus"> </i> Add Brand</a>
                    <a class="dropdown-item" href="/admin/addproduct"><i class="fas fa-plus"> </i> Add Product</a>
                    <a class="dropdown-item" href="/admin/acceptstores"><i class="fas fa-plus"> </i> Accept Stores</a>
                </div>
            </li>


        </ul>
        <div class="form-inline my-2 my-lg-0">
            <ul sec:authorize="!isAuthenticated()" class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="\login"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">|</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="\register"><i class="fas fa-user-plus"></i> Register</a>
                </li>
            </ul>

            <ul sec:authorize="isAuthenticated()" class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown"  role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${currentUser.username}"><i class="fas fa-user"></i></a>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header">Profile Actions</h6>
                        <a class="dropdown-item" th:href="@{/user/view/{username}(username = ${currentUser.username})}"><i class="fas fa-fw fa-user"> </i> View Profile</a>
                        <th:block sec:authorize="hasAnyRole('ADMIN', 'STORE_OWNER')">
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Administrative Actions</h6>
                        </th:block>
                        <a sec:authorize="hasRole('STORE_OWNER')" class="dropdown-item" href="/user/storeowner/dashbaord"><i class="fas fa-fw fa-tachometer-alt"> </i> Store Dashboard</a>
                        <a sec:authorize="hasRole('ADMIN')" class="dropdown-item" href="/admin/dashbaord"><i class="fas fa-fw fa-tachometer-alt"> </i> Admin Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <form id="logoutForm" method="post" action="/logout">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <a onclick="logoutForm.submit();" class="dropdown-item" href="#" style="cursor: pointer"><i
                                    class="fas fa-fw fa-sign-in-alt"></i> Logout</a>
                        </form>
                    </div>
                </li>

                <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/view/{username}(username = ${currentUser.username})}">
                            <i class="fas fa-shopping-cart"></i> Cart <span class="badge badge-secondary badge-pill"> 14 </span>
                        </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
