/*
    This should contain all the css used in the homepage
 */

@font-face {
    font-family: 'logo-font';
    src: url('/fonts/valley-font.woff2') format('woff2'),
    url('fonts/valley-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height: 60%;
    max-height: 70%;
    background-color: #0C2032;
    color: #eee;
}

.container-full a {
    color: #efefef;
    text-decoration: none;
}


.logo{
    font-family: logo-font, serif;
    font-size: 8rem;
    margin-bottom: -3rem;
    margin-top: -1rem
}

.logo-sub{

}


.container-mid {
    width: 100%;
    min-height: 20%;
    background-color: #0C2032;
    color: #eee;
    padding: 4%
}

.container-mid a {
    color: #efefef;
    text-decoration: none;
}

.v-center {
    margin-top: 7%;
}

/*SEARCH FORM*/
.search-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to change only one form and not all give unique class name like  class="search-form" */
.search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
}

.nopadding {
    padding: 8px !important;
}

.buttonpad {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


.noheaderpad {
    margin: 0 !important;
}



