/*
    This should contain all the css used in the homepage
 */

html,body {
    height:100%;
}

h1 {
    font-family: Arial,sans-serif;
    font-size:80px;
    color:#B9CAC4;
}

.lead {
    color: #50b497;
}

/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height:60%;
    max-height:70%;
    background-color: #0C2032;
    color:#eee;
    overflow:hidden;
}

.container-full a {
    color:#efefef;
    text-decoration:none;
}

.v-center {
    margin-top:7%;
}